.view-foto-btn {
	@include size(260px, 50px);
	position: relative;
	display: inline-block;	
	line-height: 48px;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	border: 1px solid $white;
	cursor: pointer;

	&:hover > .view-foto-btn__bg  {
		opacity: .3;
	}

	&__bg {
		@include size(100%);
		@include pos($t: 0, $l: 0);
		background: $white;
		opacity: .5;
	}

	@media (min-width: 768px) and (max-width: 1365px) {
		@include size(146px, 28px);
		font-size: 10px;
		line-height: 26px;
	}

	@media (min-width: 320px) and (max-width: 767px) {
		@include size(100px, 12px);
		font-size: 8px;
		line-height: 10px;
	}
}